{% extends 'jury/base.html.twig' %}
{% import 'jury/jury_macros.twig' as macros %}

{% block title %}
  Teams - {{ parent() }}
{% endblock %}

{% block extrahead %}
  {{ parent() }}
  {{ macros.table_extrahead() }}
{% endblock %}

{% block content %}
  <div class="dashboard-wrapper">
    <div class="row">
      <div class="col-12">
        <h1>
          Teams
        </h1>
        <div style="overflow: auto">
          {{ macros.table(teams, table_fields, num_actions) }}
        </div>
        {%- if is_granted('ROLE_ADMIN') %}
          <p>
            {{
              button(path('jury_team_add'), 'Add new team', 'primary', 'plus')
            }}
          </p>
        {%- endif %}
        
      </div>
    </div>
  </div>
{% endblock %}
